html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    height: 100%;
    overflow-y: hidden;
}

header{
    width: 100%;
    height: 12%;
    background-image: url('../img/frame.png');
    position: relative;
}

header .rogo{
    height: 80px;
    width: 170px;
    object-fit: cover;

}
.usericon1{
    height: 65px;
    width: 65px;
    object-fit:cover;
    position: absolute;
    right: 0;
    top: 0;

    border-radius: 50%;
    display: block; /* インライン要素の隙間を防ぐ */
    overflow: hidden; /* 丸くトリミングされた画像のはみ出し防止 */
}

.container{
    background-image: url('../img/frame.png'), url('../img/CorkBoard.jpg'), url('../img/frame.png');
    background-position: left top, center top ,right top; /* 上部から左右に配置 */
    background-size: 5% 100%, 90% 100%, 5% 100%; /* 画面の高さいっぱいに */
    background-repeat: no-repeat;
    padding: 10px 30px;
    height: 100%;
}

.footer{
    width: 100%;
}

footer{
    position: fixed;
    left: 50%; /* 横方向で中央 */
    bottom: 0; /* 縦方向で下 */
    transform: translateX(-50%); /* 左右中央揃えのための補正 */
}

footer ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

footer li{
    list-style: none;
    background-color: #ffffff;
}

footer .profile{
    padding: 0px 10px;
    border: solid 1px hsl(0, 0%, 0%);
    border-width: 1.5px 0px 1.5px 1.5px;
}

footer .timeline{
    padding: 0px 10px;
    border: solid 1px #000;
    border-width: 1.5px 0.5px 1.5px 1px;
}

footer .search{
    padding: 0px 10px;
    border: solid 1px #000;
    border-width: 1.5px 0px 1.5px 0.5px;
}

footer .shop{
    padding: 0px 10px;
    border: solid 1px #000;
    border-width: 1.5px 1.5px 1.5px 1px;
}

footer .schedule{
    padding: 15px 32px 0px 32px;
    border: solid 1px #000;
    border-width: 1.5px 0.5px 1.5px 0.5px;
    border-radius: 50% 50% 0 0;
}

footer .profile img , footer .timeline img , footer .search img, footer .shop img{
    height: 42px;
    width: 42px;
}

footer .schedule img{
    height: 60px;
    width: 60px;
}

footer .profile p, footer .timeline p, footer .search p, footer .shop p{
    font-size: 6.5px;
    text-align: center;
    margin: 3px 0px 0px 0px;
}

footer .schedule p{
    font-size: 7px;
    text-align: center;
    margin: 5px 0px 3px 0px;
}
