/* フォームセクション */
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* 親要素に合わせる */
    max-width: 300px; /* コルクボード幅に合わせる */
    margin: 0 auto; /* 横方向のセンタリング */
    overflow-y: auto;
    max-height: 90vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

form::-webkit-scrollbar {
    display: none;
}

form label {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
    display: inline-block;
}

form input[type="text"],
form input[type="date"],
form input[type="time"],
form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #ff6f61;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button[type="button"] {
    background-color: #f44336; /* リセットボタン */
}

/* 画像プレビュー */
.img_datareg {
    display: block;
    margin-bottom: 10px;
}

#image_preview {
    display: block;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}