.card{
    overflow-y: auto;
    height: 380px;
    margin-bottom: 30px;
    /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
    -ms-overflow-style: none;
    /*Firefoxへの対応*/
    scrollbar-width: none;
}

.card::-webkit-scrollbar{
    display: none;
}

.card-header{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.card-header .icon{
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 50%;
}

.tag{
    margin-top: 10px;
    margin-bottom: 10px;
}

.introduction{
    height: 120px;
    width: 280px;
    padding: 10px;
    background-image: url('../img/me06g.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.intro_content{
    height: 110px;
    width: 270px;
    margin: 0 auto;
}

.intro_content p{
    margin: 0;
    overflow-wrap: break-word;
}