/* scal.css */

/* 基本設定 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    max-width: 100%; 
    max-height: 100%;
}
body {
    width: 380px; /* スマホの幅に固定 */
    margin: 0 auto; /* 中央寄せ */
    overflow-x: hidden; /* 横スクロールを無効化 */
}

/* スマホのレスポンシブ対応 */
@media (max-width: 600px) {
    .card {
        margin: 10px;
        width: 90%;
    }

    .card-header {
        font-size: 18px;
    }

    .btn {
        font-size: 14px;
    }

    .btn-link {
        font-size: 12px;
    }
}
