.container{
    overflow-y: hidden;
    height: 465px;
    overflow-y: auto;
    scrollbar-width: none;
}

.mt-5 {
    margin-top: 0; 

}
#postForm{
background-color: rgb(246, 246, 246);
padding: 5px;
}
.post{
    background-color: rgb(246, 246, 246);
}
/* 右下のボタンを丸くする */
.btn-circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* アイコンのサイズ調整 */
}

/* ボタンを右下に固定 */
.btn-floating {
    position: fixed;
    bottom: 70px;
    right: 470px;
    z-index: 1050; /* 他の要素より前面に表示 */
}

/* ボタンの色をカスタマイズ (任意) */
.btn-primary {
    background-color: #1DA1F2; /* ツイッター風の青 */
    border-color: #1DA1F2;
}

.btn-primary:hover {
    background-color: #0d95e8;
    border-color: #0d95e8;
}
.preview-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.preview-box img {
    max-width: 100%;
    border-radius: 8px;
}

.link-preview {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}
.linkimg{
    width: 270px;
}
.textcontent{
    word-break: break-all;
}
.textcontent a{
    word-break: break-all;
}