.heading{
    background-image: url('../img/fs11.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px;
    padding-top: 15px;
    padding-left: 10px;
    margin: 0;
    margin-bottom: 3px;
    height: 50px;
    width: 180px;
    font-size: 25px;
}

.p_content{
    background-image: url('../img/me06g.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
}